{% extends "base_generic.html" %}

{% block content %}
<div class="library">
{% if object_list %}
{% for album in object_list %}
    {% if album.album_cover %}
        <div class="album" 
            style="background-image: url({{album.album_cover.url}});"
            href="{% url 'master_collection:albums' %}"
        >
    {% else %}
        <div class="album">
    {% endif %}
            <p class="album-name">{{album.name}}</p>
            <p class="album-by-line"> - by {{album.release_artist.name}}</p>
        </div>
{% endfor %}
{% else %}
<p>No albums available</p>
{% endif %}
</div>
{% endblock %}