<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>sell_your_tunes</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'master_collection/style.css' %}">
    <style></style>
  </head>
  <body>
    <div class="grid-container">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="navbar">
            <ul class="nav-links">
                <li><a href="#">Collection</a></li>
                <li><a href="{% url 'master_collection:albums' %}">Originals</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <div class="footer">
            <div class="now-playing">
                Now playing + controls
            </div>
            <div class="account">
                <div class="icon">Icon</div>
                <div class="name">{{ user.get_username }}</div>
            </div>
        </div>
    </div>
  </body>
</html>